@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

.top-wrapper {
  height: 50vh;
  position: relative;
}

.title {
  margin-top: 75px;
  font-size: 48px;
  text-align: center;
}

.make-up-your-mind {
  margin-top: 75px;
  font-size: 24px;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  box-shadow: 0 0 15px 0 black;
  border-radius: 5px;
}

.pick {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.mid {
  position: relative;
  height: 50px;
}

.play {
  width: 200px;
  height: 65px;
  display: block;
  margin: 75px auto 0;
  background-color: transparent;
  border-radius: 5px;
  border: 3px solid black;
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.play:hover {
  background-color: black;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 100px 0 100px;
  align-items: center;
}

.padding h1,
.padding h2,
.padding p {
  padding: 10px;
}

.game-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overall-results {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fas {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 28px;
  cursor: pointer;
}

.overall-results,
.game-results {
  box-shadow: 0 0 5px 0 black;
  border-radius: 15px;
  width: 250px;
  padding: 25px;
  border: 2px solid black;
}

@media (max-width: 1024px) {
  img {
    width: 125px;
    height: 125px;
  }

  .play:hover {
    background-color: white;
    color: black;
  }

  .top-wrapper {
    height: 50vh;
  }

  .bottom-wrapper {
    height: 50vh;
  }

  .fas {
    right: 10px;
    top: 10px;
  }

  .overall-results,
  .game-results {
    width: auto;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 32px;
  }

  .make-up-your-mind {
    font-size: 18px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .play {
    width: auto;
    height: 50px;
  }
}
